.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.posterDiv {
display: inline;
padding: 15px;
flex-direction: row;
}

.Header {
  padding: 20px ;
  background-color: cornsilk;
  border-bottom: dotted rebeccapurple;
}

.posterButton {
  border-radius: 10px;
  padding: 5px;
  flex-wrap: wrap;
  width: 200px;
  /* height: 300px; */
}

.detailsDescription {
vertical-align: bottom;
text-align: center;
}


.addMovie {
  flex-wrap: wrap;
}

.titleDiv {
  margin-top: 200px;

}

.posterDiv {
  padding-top: 200px;
  box-sizing: content-box;
}